label{
    color: #083A50;
    font-weight: 500;
}
body{
  background-color: #fff !important;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif !important;
  font-style: normal;
}
.visitor_info_div{
  background: linear-gradient(rgb(255 255 255 / 24%), rgb(255 255 255)), url(../images/visitor_frame.svg);
  box-shadow: 0px 0px 14px 0px rgba(102, 96, 96, 0.08);
  width: 100%;
  padding: 20px 60px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
.student-info-step{
  background-color: #D4D4D8;
  padding: 1px 0;
  width: 22%;
  height: 0;
  margin: 17px 0 0 0;
}
.question-set-card{
  background-color: #fff;
  box-shadow: 2px #fff;
  border: 1px solid #d9d9d9; 
  font-family: "Roboto", sans-serif;
  font-style: normal;
  padding-bottom: 20px;
  margin-top: 30px;
}
.question-set-card .header{
  display: flex;
  justify-content: center;
  /* background-color: #ba131a; */
  color: #fff;
  padding: 12px 0;
  background: linear-gradient(90deg, rgba(171, 0, 42, 0.85) 30%, #6E012B 92.12%), url(../images/exam_set.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.question-set-card .header .number{
  font-size: 120px;
  font-weight: 900;
  margin-left: 16px;
}
.question-set-card .header .set{
  font-size: 80px;
    font-weight: 600;
    margin-top: 22px;
}
.question-set-card .exam-time{
  font-size: 18px;
  font-weight: 500;
  margin: 28px 19px;
}
.question-set-card .button_exam{
  text-decoration: none;
    color: #fff;
    background-color: #035388;
    display: block;
    font-size: 18px;
    padding: 10px 0;
    font-weight: 500;
}
.exam-set-title{
  font-size: 36px;
  margin-top: 30px;
  font-family: "Roboto", sans-serif;
  background-color: #D6EFFF;
  padding: 20px 20px;
}
.exam_panel_header_title{
  text-align: center;
  margin-top: 27px;
  font-family: "Roboto", sans-serif;
}
.notification-number{
  background-color: red;
    color: #fff;
    /* width: 10px; */
    /* width: 21px; */
    border-radius: 500%;
    padding: 2px 9px;
    position: absolute;
    font-size: 13px;
    top: 5%;
    right: 3.5%;
}
/* Price card */
.background{
    background-color: #F2B9C8;
}

.background-heading{
    background-color: #FFFFFF;
    margin-bottom: 15%;
    border-radius: 5px;
}

.color1{
    background-color: #FDB200;
}

.headingCircle1{
    position: absolute;
    /* width: 50%; */
    padding: 40px 30px;
    /* font-size: 4rem; */
    border-radius: 500%;
    bottom:71%;
    /* left: 2%; */
    transform: translate(22%, 5%);
}
.headingCircle2{
    position: absolute;
    /* width: 50%; */
    padding: 36px 16px;
    /* font-size: 4rem; */
    border-radius: 500%;
    bottom: 71%;
    /* left: 2%; */
    transform: translate(26%, 5%);
}
.headingCircle3{
    position: absolute;
    /* width: 50%; */
    padding: 40px 16px;
    /* font-size: 4rem; */
    border-radius: 500%;
    bottom: 71%;
    /* left: 2%; */
    transform: translate(22%, 5%);
}

.color1-footer{
    background-color: #FDB200;
}
.color2{
    background-color: #679E39;
}
.color3{
    background-color: #31409F;
}

.price1TextColor{
    color: #FDB200;
}

.price2TextColor{
    color: #679E39;
}

.price3TextColor{
    color: #31409F;
}

.theading{
    background-color: #4B4D4B;    
}

.priceBorderRadius{
    border-radius: 0rem 0rem 1rem 1rem;
}

.headingColor1{
    background: #fdc006;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 0px 12px;
}
.headingColor2{
    background-color: #8AC14A;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 0px 12px;
}
.headingColor3{
    background-color: #3F51B5;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 0px 12px;
}

.t-head-design{
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.ttddesign{
    background:#D9D9D9 !important;
    border-right: 2px solid #fff !important;
    border-bottom: 2px solid #fff !important;
    font-weight: 700 !important;
    text-align: center !important;
    color:#000 !important;
}


/* List Buttons */

.priceChartButtons{
    font-weight: bold;
    color : black;
    text-decoration: underline;
}
.coures-btn-li{
    padding: 0 10px;
    font-weight: 800;
    color:#000
}
.coures-btn-li:hover{
    background-color: #dda7a7;
    padding: 0 10px;
    transition: 0.6s ease-in-out;
    /* transition-timing-function: ease-in-out; */
    /* text-decoration: underline ; */
}
.course-btn-active{
    color:#fa0000;
    border-bottom: 3px solid #fa0000;
    transition: 0.6s ease-in-out;
}

/* manager SideBar Css */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #11101d;
    z-index: 100;
    transition: all 0.5s ease;
  }
  .sidebar.close{
    width: 78px;
  }
  .sidebar .logo-details{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .sidebar .logo-details i{
    font-size: 30px;
    color: #fff;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
  }
  .sidebar .logo-details .logo_name{
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
  }
  .sidebar.close .logo-details .logo_name{
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
  }
  .sidebar .nav-links{
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
  }
  .sidebar.close .nav-links{
    overflow: visible;
  }
  .sidebar .nav-links::-webkit-scrollbar{
    display: none;
  }
  .sidebar .nav-links li{
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
  }
  .sidebar .nav-links li:hover{
    background: #1d1b31;
  }
  .sidebar .nav-links li .iocn-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar.close .nav-links li .iocn-link{
    display: block
  }
  .sidebar .nav-links li i{
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .sidebar .nav-links li.showMenu i.arrow{
    transform: rotate(-180deg);
  }
  .sidebar.close .nav-links i.arrow{
    display: none;
  }
  .sidebar .nav-links li a{
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  .sidebar .nav-links li a .link_name{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    transition: all 0.4s ease;
  }
  .sidebar.close .nav-links li a .link_name{
    opacity: 0;
    pointer-events: none;
  }
  .sidebar .nav-links li .sub-menu{
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: #1d1b31;
    display: none;
  }
  .sidebar .nav-links li.showMenu .sub-menu{
    display: block;
  }
  .sidebar .nav-links li .sub-menu a{
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
  }
  .sidebar .nav-links li .sub-menu a:hover{
    opacity: 1;
  }
  .sidebar.close .nav-links li .sub-menu{
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
  }
  .sidebar.close .nav-links li:hover .sub-menu{
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
  }
  .sidebar .nav-links li .sub-menu .link_name{
    display: none;
  }
  .sidebar.close .nav-links li .sub-menu .link_name{
    font-size: 18px;
    opacity: 1;
    display: block;
  }
  .sidebar .nav-links li .sub-menu.blank{
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
  }
  .sidebar .nav-links li:hover .sub-menu.blank{
    top: 50%;
    transform: translateY(-50%);
  }
  
  .one {
    width: 80%;
    margin-left: 10%;
    background-color: black;
    height: 400px;
  }
  
  .sidebar .profile-details{
    position: fixed;
    bottom: 0;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1d1b31;
    padding: 12px 0;
    transition: all 0.5s ease;
  }
  .sidebar.close .profile-details{
    background: none;
  }
  .sidebar.close .profile-details{
    width: 78px;
  }
  .sidebar .profile-details .profile-content{
    display: flex;
    align-items: center;
  }
  .sidebar .profile-details img{
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background: #1d1b31;
    transition: all 0.5s ease;
  }
  .sidebar.close .profile-details img{
    padding: 10px;
  }
  .sidebar .profile-details .profile_name,
  .sidebar .profile-details .job{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
  }
  .sidebar.close .profile-details i,
  .sidebar.close .profile-details .profile_name,
  .sidebar.close .profile-details .job{
    display: none;
  }
  .sidebar .profile-details .job{
    font-size: 12px;
  }
  .home-section{
    position: relative;
    background: #E4E9F7;
    height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
  }
  .sidebar.close ~ .home-section{
    left: 78px;
    width: calc(100% - 78px);
  }
  .home-section .home-content{
    height: 60px;
    display: flex;
    align-items: center;
  }
  .home-section .home-content .bx-menu,
  .home-section .home-content .text{
    color: #11101d;
    font-size: 35px;
  }
  .home-section .home-content .bx-menu{
    margin: 0 15px;
    cursor: pointer;
  }
  .home-section .home-content .text{
    font-size: 26px;
    font-weight: 600;
  }
  /* Exam part css */
.main-text{
  font-size: 1rem;
}
.drop_down_select{
  border: none;
  width: 50%;
  padding: 2px 2px 8px 20px;
  border-radius: 5px;
  background-color: #d9d9d950;
}
.fill_blanks{
  position: relative;
}
.fill_blanks p{
  font-size: 1rem !important;
}
.fill_blanks span{
  font-size: 1.2rem !important;
}
.fill_blanks input{
  border: none;
  border-bottom: 2px dotted #585555;
  background-color: transparent;
  /* width: 100%; */
}
.side-bar-font{
  font-size: 1.25rem;
}
input[type=checkbox] {
  accent-color: #004AAD;
    width: 22px;
    height: 17px;
    border: 1.5px solid #004AAD !important;
}
input[type=radio] {
    accent-color: #004AAD;
    width: 24px;
    height: 24px;
}
.form-check-input[type=radio]{
  border-radius: 0;
}
input.check_box{
  width: 25px;
  height: 25px;
}
.check_box_font{
  font-size: 1rem;
  font-weight: bold;
  color: #284664;
}

.check_box_font span{
  font-weight: 400;
}
.mltiple_choice_option{
  background-color: #d9d9d950;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px 0;
}
.mltiple_choice_option_result{
  background-color: #D9D9D9;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px 0;
  width: 300px;
}
.mltiple_choice_option_correct_result{
  /* background-color: #00c437; */

  padding: 5px 10px;
  border-radius: 5px;
  position: relative;
  width: 300px;
  color: #00c437;
  border: 1px solid #00c437;
}
.mltiple_choice_option_correct{
  background-color: #00c437;
  padding: 5px 10px;
  border-radius: 5px;
  position: relative;
}
.mltiple_choice_option_wrong{
  /* background-color: red; */
  padding: 5px 10px;
  border-radius: 5px;
  position: relative;
  width: 300px;
  color: red;
  border: 1px solid red;
}
.multiple_choice_check{
  color: #0BAE39;
  margin-left: 10px;
  margin-top: 5px;
}
.multiple_choice_cross{
  color: red;
  margin-left: 10px;
  margin-top: 5px;
}
.assment-test-btn{
  background-color: #004AAD;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
}
.mock_timer{
  /* background-color: #ffc107; */
  background-color: #d9d9d9;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 5px;
  text-align: center;
}
.assessment-test-progress{
  width: 100%;
  padding: 20px;
  accent-color: #004AAD;
  display: block;
}
.continue-part-div{
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 0px 14px 0px rgba(99, 95, 95, 0.10);
  padding: 15px 12px;
  margin-top: 4.2rem;
}
.continue-part-div .reading{
  background-color: #d9d9d9;
  margin-bottom: 5px;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 1.2rem;
  font-weight: 700;
}
.exam_template{
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background: #FBFBFB !important
}
.continue-part-div-listening-active{
  background-color: #198754;
  margin-bottom: 5px;
  padding: 10px 32px;
  border-radius: 3px;
  font-size: 1.2rem;
  font-weight: 700;
  color: #f8f8f8;
}
.display-hidden{
  display: none;
}
.price-btn-active-class{
  color: red;
  border-bottom: 2px solid red;
}
.assessment-test-question{
  background: #fff;
  box-shadow: 0px 0px 14px 0px rgba(99, 95, 95, 0.10);
  padding: 20px 30px;
  border-radius: 4px;
  overflow: auto;
  height: 30rem;
}
.assessment-test-question tr{
  border: 1px solid #181818;
}
.assessment-test-question td{
  border: 1px solid #181818;
  padding: 5px 5px;
}
.assessment-test-passage{
  background: #FFF;
  box-shadow: 0px 0px 14px 0px rgba(99, 95, 95, 0.10);
  padding: 20px 30px;
  border-radius: 4px;
}
.assessment-test-audio{
  background: #FFF;
  box-shadow: 0px 0px 14px 0px rgba(99, 95, 95, 0.10);
  padding: 20px;
  border-radius: 4px;
}
.course_content_active_btn{
  color: #004AAD !important;
  border-bottom: 2px solid #004AAD;
}
/* result page css start */
.result-page-heading-title{
  border-radius: 4px;
  background: linear-gradient(90deg, #203D68 0%, rgba(63, 121, 206, 0.86) 100%),url(../images/result-heading.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px 0;
}
.result-page-heading-title h3{
    color: #f8f8f8;
    text-align: center;
    font-family: 'Roboto';
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px; /* 129.63% */
}
.section-result-overview{
  margin: 2rem 0 0 0;
}
.result-previous{
  border-radius: 4px;
  border: 1px solid #A69898;
  background-color: #fff;
  color: #A69898;
  padding: 10px 8px;
  font-size: 18px;
  width: 10%;
}
.result-previous:hover{
  background-color: #A69898;
  color: #fff;
  transition: 0.8s ease-in-out;
}
.result-next{
  border-radius: 4px;
  border: 1px solid #004AAD;
  background-color: #004AAD;
  color: #f8f8f8;
  padding: 10px 8px;
  font-size: 18px;
  width: 10%;
}
.result-next:hover{
  border: 1px solid #A69898;
  background-color: #A69898;
  color: #fff;
  transition: 0.8s ease-in-out;
}
.cancel-default-padding-left {
  padding-left: 0;
}

.cancel-default-padding-right {
  padding-right: 0;
}

.dashboard {
  /* width: 100%; */
  height: 100%;
  background: #77797B;
}

.dashboard>p {
  color: #EFEFEF;
  font-family: Roboto;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  padding: 1.5rem;
}


.content-section-navbar {
  background: #F6F8FC;
  padding: 1rem 5rem 1rem 5rem;
}

/* .content-section-others {
  padding: 1rem 5rem 1rem 5rem;
} */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-span-1 {
  color: #555;
  /* leading-trim: both;
  text-edge: cap; */
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
}

.nav-span-2 {
  color: #363636;
  /* leading-trim: both;
  text-edge: cap; */
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
}

.profile-notification {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.profile-notification>.notification {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 3.125rem;
  background: var(--gray-light-gray, #DDD);
  margin-right: 1rem;
  text-align: center;
}

.profile-notification>.profile-pic {
  overflow: hidden;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 3.125rem;
  border: 1px solid var(--primary-Primary-1, #262C71);
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.profile-notification>.profile-pic>img {
  width: 100%;
  height: auto;
}

.profile-info {
  padding-left: 1rem;
}

.profile-info-p1 {
  color: var(--gray-black, #000);
  /* leading-trim: both;

  text-edge: cap; */
  /* body/t2-bold h1 */
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 0;
}

.profile-info-p2 {
  color: var(--gray-tinted-gray, #888);
  /* leading-trim: both;

  text-edge: cap; */
  /* body/t2-reg h2 */
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 0;
}
.card-background {
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 2px 14px 0px rgba(123, 124, 138, 0.08);
}
.candidate-info {
  padding: 1.25rem 2rem;
  border-radius: 4px;
  height: 15.2rem;
}
.result-overall-container {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 2px 14px 0px rgba(123, 124, 138, 0.08);
  padding: 1.3125rem 2.5rem;
}
.progress-module-section{
  margin: 2rem 0 0 0;
}
.aboard_inquire_section{
  margin: 2rem 0 0 0;
}
.result-overall .div-1 {
  
}

.div-1 .p-1 {
  color: #072f64;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 0;
}
.int-abroad-country{
  height: 92%;
}
.overall-score {
  border-radius: var(--Border-Radius-4-px, 0.25rem);
  border: 1px solid #929292;
  width: 60%;
}
.mark-analysis_correct-answer{
  margin: 2rem 0 0 0;
}
.mark-analysis{
  padding: 2rem 2rem;
}
.overall-score p {
  color: #5C5C5C;

  font-family: Roboto;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  padding: .25rem 1rem;
  margin: 0;
}

.result-overall>.p-1 {
  color: #FEFEFE;

  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Roboto;
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 0;
}
.result-overall>.p-2 {
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 0;
}
.result-overview-subsection {
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 2px 14px 0px rgba(123, 124, 138, 0.08);
  padding: 2rem;
}
.result-overview-subsection>p {
  color: #464646;
  font-family: Roboto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
}

.result-overview-subsection>div>.modules {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.result-overview-subsection>div>.modules>.progress-details {
  display: flex;
  flex-direction: row;
  margin: 1rem;
}

/* .result-overview-subsection>div>.modules>div {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 2.75rem;
} */

.modules-img {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 2.75rem;
  overflow: hidden;
  margin-right: .5rem;
}

.modules-span {
  color: #464646;
  font-size: 1.25rem;
  font-weight: 500;
}


progress {
  width: 100%;
  height: .5rem;
  -webkit-appearance: none;
  appearance: none;
}

/* Specific styles for different progress bars */
progress::-webkit-progress-bar {
  background-color: #ddd;
  border-radius: 2px !important;
  overflow: hidden;
}


.progress-bar-reading {
  margin-top: 0.625rem;
  height: 12px;
}

.progress-bar-grammar {
  margin-top: 0.625rem;
  height: 12px;
}

.progress-bar-vocabulary {
  margin-top: 0.625rem;
  height: 12px;
}

.progress-bar-listening {
  margin-top: 0.625rem;
  width: 100%;
  height: 12px;
  border-radius: 0px !important;
}
.progress-bar-writing {
  margin-top: 0.625rem;
  width: 100%;
  height: 12px;
  border-radius: 0px !important;
}

.progress-bar-reading::-webkit-progress-value {
  background-color: #4CAF50;
}

.progress-bar-grammar::-webkit-progress-value {
  background-color: #FF5733;
}

.progress-bar-vocabulary::-webkit-progress-value {
  background-color: #FFC300;
}

.progress-bar-listening::-webkit-progress-value {
  background-color: #ffa84a;
}
.progress-bar-writing::-webkit-progress-value {
  background-color: #004AAD;
}
progress::-webkit-progress-bar{
  background-color: #cfcfcf;
}

/* Firefox specific styles */
/* progress::-moz-progress-bar {
  border-radius: 10px;
} */

.progress-bar-reading::-moz-progress-bar {
  background-color: #4CAF50;
}

.progress-bar-grammar::-moz-progress-bar {
  background-color: #FF5733;
}

.progress-bar-vocabulary::-moz-progress-bar {
  background-color: #FFC300;
}

.progress-bar-listening::-moz-progress-bar {
  background-color: #3498DB;
}

/* .mark_anlytics-correct_answer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
} */

.card-titles {
  color: #363535;

  font-family: Roboto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
}

.mark-analytics {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 49%;
  margin-right: 2%;
}

.mark-analytics>p {
  padding-left: 1.5rem;
}


.mark-analytics>table {
  width: 100%;
}

.mark-analytics-modules {
  
}

.assessment-title {
  color: #383737;

  font-family: Roboto;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 600;
}

.candidate-info>.name {
  color: #272727;
  font-family: 'Roboto';
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  margin: 2rem 0 0 0;
}

.candidate-info>details {
  color: #615F5F;

  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}


#answersQuestion{
  width: 100% !important;
    height: 66% !important;
}

.chart-score {
}

.chart-score-band {
  border-radius: var(--Border-Radius-4-px, 0.25rem);
  border: 1px solid #F65555;
}

.chart-score-band>p {
  color: #212121;
  font-family: Roboto;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 0;
  padding: 1rem 2rem;
}
.package-table{
  margin: 2rem;
}

.image-correct-answer-inside-table {
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
}

.outline-for-score-small-sections {
  border-radius: 0.3125rem;
  border: 1px solid var(--Primary-Color, #004AAD);
  color: var(--Primary-Color, #004AAD);
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  margin: 0 0 0 0;
}
.outline-for-score-small-sections-active {
  background-color: #035388 !important;
  color: #f8f8f8 !important;
  border: 1px solid #035388 !important;
}
.outline-for-score-small-sections-active p{
  margin: 0 0 0 0;
}
.outline-for-score-small-sections p {
  margin: 0 0 0 0;
}

.band-score-tiles-list {
  display: flex;
  justify-content: space-between;
}
.achieved-course-section{
  margin: 1rem 0 0 0;
}
.achieved-course-section .your-score .icon{
  background-color: #F3AE2E;
  margin: 0 0 0 0;
  padding: 6px 0 6px 8px;
  border-radius: 50%;
}
.td-total {
  color: #FFF;
  font-family: Roboto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  text-align: center;
}

.td-price {
  color: #575656;

  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Roboto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;

  text-align: center;
}

.td-total>p {
  color: #FEFEFE;

  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  margin: 0;
  padding: 0;
  text-align: end;
}

.intended-countries {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.intended-countries>div {
  border-radius: 0.25rem;
  background: #4B79B6;
}

.country-name {
  color: #F2F2F2;

  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;

  padding: .25rem .75rem;
}
.course-benefit-title{
  color: #363535;
  font-size: 1.375rem;
  font-weight: 600;
  margin: 2rem 0 0 0;
}
.current-level-title{
  color: #363535;
  font-size: 1.5rem;
  font-weight: 600;
}
.course-benefit-icon{
  font-size: 18px;
    color: #cbcbcb;
    margin-right: 4px;
    margin-top: 5px;
}
.course-benefit-icon-active{
  font-size: 18px;
    color: #16b338;
    margin-right: 4px;
}
.course-benefit-text{
  font-size: 1rem;
  margin-left: 4px;
}
.total-time {
  color: #535252;
  font-size: 1.125rem;
  font-weight: 600;
  background-color: #d4f4cf;
  margin-top: 2rem !important;
  padding: 10px 15px;
  width: 70%;
}

.course-timeline {
  height: 9.8125rem;
}
.text-1 {
  color: #FAFAFA;
  font-size: 1.25rem;
  text-align: center;
}
.text-2 {
  color: #FFF;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-left: 30px;
}
.course-timeline>.monthOne {
  background-color: #FDB200;
}

.course-timeline>.monthTwo {
  background-color: #679E39;
}

.course-timeline>.monthThree {
  background-color: #31409F;
}


.circle-course {
  width: 1.25rem;
  height: 1.25rem;

  border-radius: 1.25rem;
  background-color: #FDB200;
}

.course-name {
  color: #363535;
  font-size: 1rem;
}

.details-border {
  border-radius: 50%;
  background-color:  #e8e9e9;
  color: #f8f8f8;
  width: 45px;
  height: 45px;
}
.details-border-active {
  background-color:  #004AAD;
}
.details-border button{
  color: #f8f8f8;
  font-size: 1rem;
  font-weight: 600;
  margin: 8px 0 0 7px;
  border: none;
  background-color: transparent;
}
.course-content-arrow::after{
  content: ".................";
  font-size: 26px;
  color: #8fc3ee;
  display: inline-block;
  vertical-align: 3px;
  padding-left: 0;
}
.your-score {
  color: #333;
  font-family: Roboto;
  font-size: 0.825rem;
  font-style: normal;
  font-weight: 600;
  padding: 1rem 0.5rem;
  border-radius: var(--Border-Radius-4-px, 0.25rem);
  border: 1px solid #F3AE2E;
  background: #FFF;
  box-shadow: 0px 2px 14px 0px rgba(115, 111, 111, 0.08);
  margin-top: 16px;
}

.arrow {
  position: absolute;
    rotate: 360deg;
    left: 15%;
    top: -4%;
    width: 33%;
}

.improved-score {
  position: absolute;
    padding: 0.25rem 1rem;
    text-align: center;
    border-radius: 4px;
    border: 1px solid var(--Primary-Color, #004AAD);
    background: #FFF;
    box-shadow: 0px 2px 14px 0px rgba(115, 111, 111, 0.08);
    color: #333;
    font-family: Roboto;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    left: 50%;
    top: -3%;
}
/* hello start */

.full_box{
  /* background-color: #fff; */
}
.box_bind_class{
  background-color: #fff;
}
.box_header{
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.inner_box_top_1{
  background-color: #284664;
  padding: 10px 20px;
  height: 100px;
  color:#fff
}
.inner_box_top_1_another{
  background-color: #ffc107;
  padding: 10px 20px;
  height: 100px;
  color: #000;
}
.inner_box_top_2_another{
  background-color: #ffc107;
  padding: 10px 20px;
  height: 120px;
  color: #000;
}
.inner_box_top_3_another{
  background-color: #ffc107;
  padding: 10px 20px;
  height: 140px;
  color: #000;
}
.inner_box_top_4_another{
  background-color: #ffc107;
  padding: 10px 20px;
  height: 160px;
  color: #000;
}
.inner_box_top_5_another{
  background-color: #ffc107;
  padding: 10px 20px;
  height: 180px;
  color: #000;
}
.inner_box_top_6_another{
  background-color: #ffc107;
  padding: 10px 20px;
  height: 200px;
  color: #000;
}
.inner_box_top_2{
  background-color: #284664;
  padding: 10px 20px;
  height: 120px;
  color: #fff;
}
.inner_box_top_3{
  background-color: #284664;
  padding: 10px 20px;
  height: 140px;
  color: #fff;
}
.inner_box_top_4{
  background-color: #284664;
  padding: 10px 20px;
  height: 160px;
  color: #fff;
}
.inner_box_top_5{
  background-color: #284664;
  padding: 10px 20px;
  height: 180px;
  color: #fff;
}
.inner_box_top_6{
  background-color: #284664;
  padding: 10px 20px;
  height: 200px;
  color: #fff;
}
.inner_box_middle{
  padding: 20px;
  background-color: #f1f1f1;
  height: 325px;
}
.inner_box_bottom{
  padding: 20px;
  background-color: #f1f1f1;
  height: 140px;
}

/* hello end */
.onlclik_price_active{
  background-color: #9B86BD !important;
  color: #efefef !important;
}
#mark-analytics-pie-chart{
  width: 70% !important;
  height: 75% !important;
  margin: 1.25rem 0 0 3rem !important;
}
.result_explanation{
  height: 25rem;
}
.marks_bar_graph{
  height: 25rem;
}
.total_enrolled_course .course-achievement{
  margin: 1.15rem 0 0 0;
}
.total_enrolled_course .course-achievement .course-achievement-box{
  border: 1.5px solid #004AAD;
  padding: 10px 15px;
  border-radius: 4px;
  width: 50%;
}
.total_enrolled_course .course-achievement .course-achievement-box .course{
  margin: 0 0 0 0;
  font-size: 1.125rem;
  font-weight: 600;
}
.total_enrolled_course .course-achievement .course-achievement-box .status{
  color: #4D4B4B;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem; /* 150% */
  margin: 2px 0 0 0;
}
.total_enrolled_course .course-achievement .title{
  color: #363535;
  font-size: 1.5rem;
  font-weight: 600;
}
.total_enrolled_course .price-box{
  border-radius: 4px;
  background: var(--GlobalColors-Neutral-0, #FFF);
  box-shadow: 0px 93px 157px 115px rgba(106, 106, 106, 0.09);
}
.total_enrolled_course .price-box .header{
  background-color: #004AAD;
  padding: 5px 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.total_enrolled_course .price-box .price-title{
  margin: 0 0 0 0;
  color: var(--Primary-Color, #004AAD);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.875rem; /* 150% */
  padding-bottom: 8px;
  border-bottom: 1.2px solid #D6D6D6;
}
.total_enrolled_course .price-box .inner-box{
  padding: 10px 28px 22px 22px;
}
.total_enrolled_course .price-box .inner-box .regular-price{
  color: #535252;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
  display: flex;
  justify-content: space-between;
  margin: 10px 0 0 0;
}
.total_enrolled_course .price-box .inner-box .discount-price{
  color: #535252;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
  display: flex;
  justify-content: space-between;
  margin: 10px 0 0 0;
  border-bottom: 1.2px solid #D6D6D6;
}
.total_enrolled_course .price-box .inner-box .discounted-price{
  color: #3aa415;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem; /* 150% */
  display: flex;
  justify-content: space-between;
  margin: 10px 0 0 0;
}
.total_enrolled_course .price-box .inner-box .visit-day-price{
  color: #535252;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
  display: flex;
  justify-content: space-between;
  margin: 10px 0 0 0;
  border-bottom: 1.2px solid #D6D6D6;
}
.total_enrolled_course .price-box .inner-box .privileged-price{
  color: #f08129;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem; /* 150% */
  display: flex;
  justify-content: space-between;
  margin: 10px 0 0 0;
  border-bottom: 1.2px solid #D6D6D6;
}

.total_enrolled_course .price-box .inner-box .totaled-price{
  color: #535252;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem; /* 150% */
  display: flex;
  justify-content: space-between;
  margin: 10px 0 10px 0;
}
.total_enrolled_course .totaled-month-duration{
  color: #535252;
  font-size: 1.125rem;
  font-weight: 600;
  margin: 30px 0 30px 0;
  background-color: #C5FFBC;
  width: 50%;
}
.total_enrolled_course .price-box .inner-box button{
  background-color: #004AAD;
  color: #f8f8f8;
  border-radius: 4px;
  font-size: 1.125rem;
  font-weight: 600;
  border: none;
  width: 100%;
  margin: 16px 0 0 0 !important;
  text-align: center;
  padding: 5px 0;
}
.result-card h5{
  color: #535252;
  font-size: 1.125rem;
  font-weight: 600;
  margin: 0 0 1.625rem 0;
}
.result-card a{
  border: 1px solid #004AAD;
  color: #004AAD;
  font-weight: 600;
  padding: 10px 35px;
  font-size: 1.125rem;
  text-decoration: none;
  border-radius: 4px;
}
/* result page css end */
/* result card css start */
.result-card-header{
  background-color: #DFF5FF;
  padding: 0 0 8px 0;
}
.result-card-header img{
  width: 46%;
  margin: 8px 0 0 0;
}
.result-card-header p{
  text-align: end;
  color: #414040;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.9375rem;
  margin: 8px 13px 0 0;
}
.report-text .title{
  color: #32327B;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.6875rem; /* 150% */
  text-align: center;
  margin: 8px 0 0 0;
}
.report-text .name{
  color: #181818;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.125rem;
  letter-spacing: 0.015rem;
  margin: 18px 0 4px 0;
}
.report-text .text{
  color: #2F2E2E;
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 0.015rem;
  margin: 0 0 20px 0;
}
.report-text .text .level{
  color: #2268D1;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.125rem;
    letter-spacing: 0.0175rem;
}
.course-score{
  margin: 20px 0 0 0;
}
.course-score .result{
  border: 1px solid #4689E2;
  border-radius: 4px;
}
.course-score .result .header{
  background: #4689E2;
    color: #f8f8f8;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 0.93963rem;
    letter-spacing: 0.015rem;
    text-align: center;
    padding: 8px 0;
}
.course-score .result .inner{
  padding: 10px;
}
.course-score .result .inner h5{
  color: #434242;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 0.93963rem;
    letter-spacing: 0.01431rem;
    margin: 10px 0 0 0;
}
.band-wise-course{
  margin: 20px 0 0 0;
}
.band-wise-course h4{
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 0.93963rem;
  margin: 0 0 20px 0;
}
.band-wise-course .title{
  color: #403F3F;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem; /* 150% */
}
.band-wise-course .course-box{
  border: 1px solid #004AAD;
  border-radius: 4px;
  padding: 5px 8px;
}
.iccon-disable{
  color: #e62626;
  font-size: 0.875rem;
}
.iccon-active{
  color: #004AAD;
  font-size: 0.875rem;
}
.band-wise-course .course-box .course-name{
  color: #4D4B4B;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.3125rem;
}
.advisor{
  margin: 20px 0 0 0;
}
.advisor .advisor-info .course{
  color: #222;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.125rem;
  margin-bottom: 5px;
}
.advisor .advisor-info .name{
  color: #222;
  font-size: 0.875rem;
  font-weight: 800;
  line-height: 1.125rem;
  margin-bottom: 5px;
}
.advisor .advisor-info .designation{
  color: #222;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.125rem;
  margin-bottom: 5px;
}
.advisor .advisor-info .phone{
  color: #222;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.125rem;
  margin-bottom: 0;
}
.advisor .bar-code{
  width: 35%;
  margin: 9px 0 0 0;
}
.advisor .logo{
  width: 55%;
  margin: 20px 0 0 0;
}
.advisor .visit-day{
  color: #ED1D24;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 0.8125rem;
  text-align: center;
  margin-bottom: 8px;
  margin-top: 8px;
}
.footer{
  background-color: #DFF5FF;
  padding: 15px 0;
}
.footer .website{
  color: #414040;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.9375rem; /* 125% */
  margin: 0 0 5px 0;
}
.footer .email{
  color: #414040;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.9375rem; /* 125% */
  margin: 0 0 0 0;
}
.footer .uttara-ph{
  color: #414040;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.9375rem; /* 125% */
  margin: 0 0 5px 0;
  text-align: right;
}
.footer .mirpur-ph{
  color: #414040;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.9375rem; /* 125% */
  margin: 0 0 0 0;
  text-align: right;
}

.course-level .full_box{
  /* background-color: #fff; */
}
.course-level .box_bind_class{
  background-color: #fff;
  text-align: center;
  margin: 8px 0 0 0;
}
.course-level .box_header{
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.course-level .box_header h5{
  font-size: 0.875rem;
}
.course-level .inner_box_top_1{
  background-color: #284664;
  padding: 10px 20px;
  height: 100px;
  color:#fff
}
.course-level .inner_box_top_1_another{
  background-color: #ffc107;
  padding: 20px;
  height: 100px;
  color: #000;
}
.course-level .inner_box_top_2_another{
  background-color: #ffc107;
  padding: 10px 20px;
  height: 120px;
  color: #000;
}
.course-level .inner_box_top_3_another{
  background-color: #ffc107;
  padding: 10px 20px;
  height: 140px;
  color: #000;
}
.course-level .inner_box_top_4_another{
  background-color: #ffc107;
  padding: 10px 20px;
  height: 160px;
  color: #000;
}
.course-level .inner_box_top_5_another{
  background-color: #ffc107;
  padding: 10px 20px;
  height: 180px;
  color: #000;
}
.course-level .inner_box_top_6_another{
  background-color: #ffc107;
  padding: 10px 20px;
  height: 200px;
  color: #000;
}
.course-level .inner_box_top_2{
  background-color: #284664;
  padding: 10px 20px;
  height: 120px;
  color: #fff;
}
.course-level .inner_box_top_3{
  background-color: #284664;
  padding: 10px 20px;
  height: 140px;
  color: #fff;
}
.course-level .inner_box_top_4{
  background-color: #284664;
  padding: 10px 20px;
  height: 160px;
  color: #fff;
}
.course-level .inner_box_top_5{
  background-color: #284664;
  padding: 10px 20px;
  height: 180px;
  color: #fff;
}
.course-level .inner_box_top_6{
  background-color: #284664;
  padding: 10px 20px;
  height: 200px;
  color: #fff;
}
.course-level .inner_box_middle{
  padding: 20px;
  background-color: #f1f1f1;
  height: 325px;
}
.course-level .inner_box_bottom{
  padding: 20px;
  background-color: #f1f1f1;
  height: 140px;
}
/* result card css end */
.adviserDasHomeTh{
  background: #DBEBF5 !important; 
  font-size:14px !important;
}
.start-test-btn{
  background-color: #035388;
  color: #f8f8f8;
  border: none;
  padding: 8px 10px;
  font-size: 16px;
  border-radius: 5px;
}
.exam-continue-icon{
  font-size: 12px; 
  padding: 0 0 0 5.313rem !important;
  color: #f8f8f8;
}
.exam-progress-bar{
  position: relative;
}
.a1_course_bar{
  background-color:#1baa2f !important;
}
.a2_course_bar{
  background-color:#52d726 !important;
}
.b1_course_bar{
  background-color:#b9d20d !important;
}
.b2_course_bar{
  background-color:#ebdb13 !important;
}
.c1_course_bar{
  background-color:#ffaf00 !important;
}
.desired_btn_active{
  background-color: #035388 !important;
  color: #f8f8f8 !important;
}
.class-schdule input[type=checkbox] {
  accent-color: #004AAD;
  width: 22px;
  height: 22px;
  border: 1.5px solid #004AAD !important;
}
.class-schdule span{
  
}
.login-full-div{
  /* border: none;
  box-shadow: 0px 3px 14px 0px rgb(84 75 75 / 14%);
  margin: 0 0 0 0; */
  /* background: url(../images/login-full.png); */
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 25.8%, rgba(75, 123, 169, 0.39) 82.12%);
  height: 100vh !important;
  position: relative;
}
.login-full-div .login-quote{
  margin: 4rem 0 5rem 0;
  font-size: 18px;
  text-align: center;
}
.main-img{
  width: 67%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.login-full-div .form-div{
  margin-top: 10rem;
}
.price-package-active{
  color: #004AAD;
  font-weight: 600;
  border-bottom: 2px solid #004AAD;
}
/* responsive css start */
@media only screen and (max-width: 479px) {
  .sidebar.close .nav-links li .sub-menu{
    display: none;
  }
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 640px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
  .login-full-div .login-quote{
    margin: 10rem 0 0 0;
  }
  .main-img {
    width: 77%;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .login-full-div .login-quote{
    margin: 10rem 0 0 0;
  }
  .main-img {
    width: 74%;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

@media only screen and (min-width: 1280px) {
  .login-full-div .login-quote{
    margin: 9rem 0 0 0;
  }
  .main-img {
    width: 70%;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

@media only screen and (min-width: 1440px){
  .start-test-btn{
    font-size: 14px !important;
  }
  .exam-continue-icon{
    padding: 0 0 0 2rem !important;
  }
  .overall-score{
    width: 80% !important;
  }
  .inner_box_bottom ul{
    padding: 0;
    margin-left: 2px;
  }
  #answersQuestion{
    width: 100% !important;
      height: 60% !important;
  }
  .total-time{
    width: 100%;
  }
  .login-full-div .login-quote{
    margin: 5rem 0 0 0;
  }
  .login-full-div .form-div{
    margin-top: 5rem;
  }
  .student-info-step{
    width: 18%;
  }
  .inner_box_top_1_another{
    padding: 10px;
  }
  .inner_box_top_2{
    padding: 10px 0 0 5px;
  }
  .inner_box_top_3{
    padding: 28px 0 0 5px;
  }
  .inner_box_top_4 {
    padding: 28px 0 0 5px;
  }
  .inner_box_top_5{
    padding: 25px 0 0 15px;
  }
}
/* responsive css end */